*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #111827;
}

nav input {
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.hero {
    text-align: center;
    margin: 20px;
}

.categories {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.categories button:hover {
    transform: scale(1,1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax);
}